body {
  background-color: #d7e3fc;
}

.App {
  text-align: center;
}

.App header {
  background-color: #0077b6;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0;
  padding: 1rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  color: white;
  text-shadow: 2px 2px black;
}

#add-button {
  margin: 1rem;
  background-color: #0077b6;
  color: white;
}

.movie-inputs {
  margin: auto;
  margin-top: 2rem;
  width: 30rem;
  border: 3px solid #0077b6;
  padding: 10px;
}

#back-button {
  margin: 1rem;
  background-color: #0077b6;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
